/**<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">**/

.nav {
  text-align: center;
  background-color: black;
}
.navbar {
  border: 0px !important;
}
.navbar-fluid {
  background: black !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.navbar-default .navbar-nav > li > a {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-size: 3em;
  width: 20vw;
  padding-left: 5px;
  margin-top: 15px;
}
/*
.navbar-nav>li>a:hover{
  color:#777 !important;
  font-family: 'Lato', sans-serif;
}
*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  background-color: black !important;
}
.navbar-collapse {
  text-align: center;
}
.main-image {
  width: 60%;
  margin-left: 20%;
  margin-top: 20vh;
  margin-bottom: 15px !important;
}
.bg-black {
  height: 100%;
  background-image: url("./asset/bg_black.png");
}
.bg-white {
  height: 100%;
  background-image: url("./asset/bg_white.png");
}
.gallery{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  column-gap: 1rem;
  margin: 0 1rem;
}
.exhibition_gallery{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  column-gap: 1rem;
  margin: 0 1rem;
  margin-top: 3rem;
}


.gallery .pics{
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 450px) {
  .gallery,.exhibition_gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.img-fluid  {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
}
.exhibition_poster{
  max-width: 80%;
  width: 80%;
  margin-bottom: 3rem;
  height: auto;
  margin-left: 10%;
  margin-right: 5%;
}
.exhibition_text{
  margin-bottom: 3rem;
  height: auto;
  margin-left:2.5%;
  margin-right: 2.5%;
}

.mini_title{
  font-weight: bold;
  margin-bottom: 5px !important;
}
.exhibition_text>p{
  color: white !important;
  font-family: "Lato", sans-serif;
  word-break: break-word;
  margin-bottom: 15px;
}


